<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title>Cornerstone Church Newcastle</title>
  <!--<meta name="description" content="{{description}}">-->
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">


  <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVGye3a8OubqWeYS_A9O3NaFnnuVOJNXY&callback=initMap"-->
          <!--type="text/javascript"></script>-->

  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}
  <link rel="stylesheet" href="{{cssFile}}">
  {% endfor %}
</head>

<body class="ng-cloak">
<header ng-include="'/modules/core/client/views/header.client.view.html'"></header>
<section class="">
  <section class="">
    {% block content %}{% endblock %}
  </section>


  <!--ToDo implement foot properly-->

  <!--Footer-->
  <footer>

    <div id="footer" ng-controller="HomeController">
      <div class="container">
        <div class="row" style="padding-bottom: 10px">

          <div class="col-sm-4">
            <h3 style="border-bottom: 2px solid white;">Info</h3>
            <br>
            <p><b>Sunday Service, 10:30pm</b></p>
            <p>E: info@ccncl.co.uk, T: 07983 289 009</p>
            <p>1st Floor, Bamburgh House, Market Street, NE16BH</p>
            <a style="color:white" href="/contact">More info!</a>

          </div>
          <div class="col-sm-4">
            <h3 style="border-bottom: 2px solid white;">Giving</h3>
            <br>
            <p>Cornerstone Church Newcastle</p>
            <p>Account Number:239 48641</p>
            <p>Sort Code: 40-34-18</p>
          </div>
          <div class="col-sm-4">
            <h3 style="border-bottom: 2px solid white;">Social Media</h3>
            <br>
            <ul class="list-inline">
              <li>
                <a style="color:white" href="https://www.facebook.com/cornerstonechurchNCL?fref=ts"><i
                  class="fa fa-4x fa-facebook-square fa-fw"></i></a>
              </li>
              <li>
                <a style="color:white" href="https://twitter.com/CornerstoneNCL"><i class="fa fa-4x fa-twitter-square fa-fw"></i></a>
              </li>
              <div>
              <a ng-if="authentication.user.displayName" href="" ng-click="logout()" style="color:white"><small>Log Out</small></a>
              <a ng-if="!authentication.user.displayName" href="/authentication/signin" style="color:white"><small>Log in</small></a>
              </div>
              <p><small>Copyright &copy; CornerstonChurchNewcastle2015</small></p>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!--/ Footer-->

</section>

<!--Embedding The User Object-->
<script type="text/javascript">
  var user = {{user | json | safe}};
</script>

<!--Load The Socket.io File-->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<!--Application JavaScript Files-->
{% for jsFile in jsFiles %}
<script type="text/javascript" src="{{jsFile}}"></script>
{% endfor %}

{% if livereload %}
<!--Livereload script rendered -->
<script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
{% endif %}
</body>

</html>
