<div>
  <h1 class="text-center page-title">I'm New</h1>
  <div class="imagetop"></div>


  <div id="makejesusknown" class="container text-section">
    <h1 class="col-sm-12 text-center">What to Expect</h1>
    <hr>
    <div class="col sub-sec">
      <div class="col-sm-4">
        <h2>Who are we?</h2>
        <p>
          You can expect to meet ordinary people from different cultures and walks of life! There is no dress code, come
          as you would if you were visiting friends. </p>
        <!--<a href="">more</a>-->
      </div>
      <div class="col-sm-4">
        <h2>The Service</h2>
        <p>
          We usually start our time in musical worship to God, with a full band which leads us in contemporary worship
          songs. We then have someone teach us from the Bible to explain the relevance and beauty of the gospel
          message.</p>
        <!--<a href="">more</a>-->
      </div>
      <div class="col-sm-4">
        <h2>Kids</h2>
        <p>
          We offer secure gospel-centred programmes for children under the age of 13. Simply sign your kids in at the
          “Check In” area and we’ll sort out the rest! </p>
        <!--<a href="">more</a>-->
      </div>
    </div>
  </div>


  <div class="break"></div>

  <div class="text-section">
    <h1 class="text-center">Time & Place</h1>

    <div class="container">
      <div class="col sub-sec">
        <div class="col-sm-4">
          <h2>Venue</h2>
          <p>
            We currently use the 1st floor of Bamburgh House on Market Street in the city centre of Newcastle Upon Tyne.
          </p>
        </div>
        <div class="col-sm-4">
          <h2>Parking</h2>
          <p>
            There are numerous council parking garages in close proximity to Cornerstone. Click below to find out more.
          </p>
        </div>
        <div class="col-sm-4">
          <h2>Time</h2>
          <p>
            Sundays, 10h30 - 12h00. Most people linger around afterwards to socialise and drink coffee. </p>
        </div>
        <div class="col-xs-12 text-center">
          <a href="/contact">more</a>
        </div>
      </div>
    </div>
  </div>

</div>
