<div>

  <div class="imagetop"></div>

  <section class="text-center">
    <h1>Time & Place</h1>
  </section>

  <div class="container text-section">
    <div class="col sub-sec">
      <div class="col-sm-4">
        <h2>Venue</h2>
        <p>
          We currently use the 1st floor of Bamburgh House on Market Street in the city centre of Newcastle Upon Tyne.
        </p>
      </div>
      <div class="col-sm-4">
        <h2>Parking</h2>
        <p>
          There are numerous council parking garages in close proximity to Cornerstone. Click below to find out more.
        </p>
      </div>
      <div class="col-sm-4">
        <h2>Time</h2>
        <p>
          Sundays, 10h30 - 12h00. Most people linger around afterwards to socialise and drink coffee. </p>
      </div>
      <div class="col-xs-12 text-center">
        <a href="/contact">more</a>
      </div>
    </div>
  </div>

  <div class="break"></div>


  <div id="makejesusknown" class="container text-section">
    <h1 class="col-sm-12 text-center">What to Expect</h1>
    <hr>
    <div class="col sub-sec">
      <div class="col-sm-4">
        <h2>Who are we?</h2>
        <p>
          You can expect to meet ordinary people from different cultures and walks of life. There is no dress code, come as you would if you were visiting friends.
        </p>
        <!--<a href="">more</a>-->
      </div>
      <div class="col-sm-4">
        <h2>Kids</h2>
        <p>
          We offer secure gospel-centered programmes for children under the age of 13. Simply sign in your kids at the “check in” area and we will sort out the rest.
        </p>
        <!--<a href="">more</a>-->
      </div>
      <div class="col-sm-4">
        <h2>The Service</h2>
        <p>
          We generally start our time in worship to God. We love Jesus and love singing about and too him. We speak a lot about Jesus and we base what we say on Him.
        </p>
        <!--<a href="">more</a>-->
      </div>
    </div>
  </div>


</div>
