<nav class="{{header}} navbar navbar-default navbar-fixed-top" ng-controller="HeaderController" header>
  <div class="container-fluid">
    <a href="/" class="{{header}} navbar-header logo"></a>


    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li>
        <a href="/new" id="new"><span class="fa fa-star"></span> Im New</a>
      </li>
      <li>
        <a href="/about" id="about"><span class="fa fa-info-circle"></span> About</a>
      </li>
      <li>
        <a href="/sermonseries"><span class="fa fa-book"></span> Resources</a>
      </li>
      <li>
        <a href="/contact"><span class="fa fa-map-pin"></span> Contact</a>
      </li>
    </ul>



    <div class="dropdown pull-right visible-xs">
      <button class="btn" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-th-list"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li>
          <a href="/new"><span class="fa fa-star"></span> Im New</a>
        </li>
        <li>
          <a href="/about"><span class="fa fa-info-circle"></span> About</a>
        </li>
        <li>
          <a href="/sermonseries"><span class="fa fa-book"></span> Resources</a>
        </li>
        <li>
          <a href="/contact"><span class="fa fa-map-pin"></span> Contact</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

