<nav class="{{header}} navbar navbar-default navbar-fixed-top" ng-controller="HeaderController" header>
  <div class="container-fluid">
    <a href="/" class="{{header}} navbar-header logo"></a>


    <div class="navbar-right hidden-xs">
      <ul class="{{header}} nav navbar-nav blah">
        <li>
          <a href="/new#top" id="new"><span class="fa fa-star"></span> I'm New</a>
        </li>
        <li>
          <a href="/about#top" id="about"><span class="fa fa-info-circle"></span> Who We Are</a>
          <div id="about-dd" class="dd-nav">
            <div class="dd-nav-btn btn-1"><a href="/about#top">About</a></div>
            <div class="dd-nav-btn btn-2"><a href="/leaders#top">Leaders</a></div>
          </div>
        </li>
        <li>
          <a href="/homegroup#top" id="connected"><span class="fa fa-plug"></span> Get Connected</a>
          <div id="connected-dd" class="dd-nav">
            <div class="dd-nav-btn btn-1"><a href="/homegroup#top">Home Group</a></div>
            <div class="dd-nav-btn btn-2"><a href="/kids&youth#top">Kids & Youth</a></div>
            <div class="dd-nav-btn btn-3"><a href="/students#top">Students</a></div>
          </div>
        </li>
        <li>
          <a href="/sermonseries#top"><span class="fa fa-book"></span> Media</a>
        </li>
        <li>
          <a href="/contact#top"><span class="fa fa-map-pin"></span> Contact</a>
        </li>
      </ul>
    </div>


    <div class="dropdown pull-right visible-xs">
      <button class="btn" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-th-list"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li>
          <a href="/new#top"><span class="fa fa-star"></span> Im New</a>
        </li>
        <li>
          <a href="/about#top"><span class="fa fa-info-circle"></span> Who we are</a>
        </li>
        <li role="separator" class="divider"></li>
        <li><a href="/about#top"><small>About</small></a></li>
        <li><a href="/leaders#top"><small>Leaders</small></a></li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="/about#top"><span class="fa fa-plug"></span> Get Connected</a>
        </li>
        <li role="separator" class="divider"></li>
        <li><a href="/homegroup#top"><small>Home Group</small></small></a></li>
        <li><a href="/kids&youth#top"><small>Kids & Youth</small></a></li>
        <li><a href="/students#top"><small>Students</small></a></li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="/sermonseries#top"><span class="fa fa-book"></span> Media</a>
        </li>
        <li>
          <a href="/contact#top"><span class="fa fa-map-pin"></span> Contact</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

