<nav class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderController" header>
  <div class="container-fluid">
    <a href="#!" class="{{header}} navbar-header logo"></a>


    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li>
        <a href="#!"><span class="glyphicon glyphicon-volume-up"></span> Resources</a>
      </li>
      <li>
        <a href=""><span class="glyphicon glyphicon-earphone"></span> Contact</a>
      </li>
    </ul>


    <div class="dropdown pull-right visible-xs">
      <button class="btn" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-th-list"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li>
          <a href="#!"><span class="glyphicon glyphicon-volume-up"></span> Resources</a>
        </li>
        <li>
          <a href=""><span class="glyphicon glyphicon-earphone"></span> Contact</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
