<div>
  <div ng-controller="SliderController">
    <slider
      sliderone="['/modules/core/client/img/slider/welcome.jpg', '/modules/core/client/img/slider/welcome-text.png']"
      slidertwo="['/modules/core/client/img/slider/vision.jpg', '/modules/core/client/img/slider/vision-text.png']"
      sliderthree="['/modules/core/client/img/slider/hgbackground.png', '/modules/core/client/img/slider/hgtext.png']"></slider>

    <button ng-click="sliderPrevious()" class="slider-btn"><span
      class="btn-lg slider-icon glyphicon glyphicon-circle-arrow-left"></span></button>
    <button href="" ng-click="sliderNext()" class="slider-btn slider-next"><span
      class="btn-lg slider-icon glyphicon glyphicon-circle-arrow-right"></span></button>
  </div>


  <div id="knowjesus" class="container text-section">
    <h1 class="col-xs-12 text-center">Know Jesus</h1>
    <hr>
    <div class="col sub-sec">
      <div class="col-sm-4">
        <h2>Jesus</h2>
        <p>
          Jesus was the most influential person who has ever lived. His presence in human history some 2000 years ago has influenced all that have followed since.
        </p>
        <a href="/about">more</a>
      </div>
      <div class="col-sm-4">
        <h2>Location</h2>
        <p>
          Join us each Sunday for our weekly services in Newcastle Upon Tyne, City Centre. Get directions, times and where to park here
        </p>
        <a href="/contact">more</a>
      </div>
      <div class="col-sm-4">
        <h2>Sermons</h2>
        <p>
          Find out more about our current and past sermon series’ or listen to our latest sermon here
        </p>
        <a href="/sermonseries">more</a>
      </div>
    </div>
  </div>

  <div class="break"></div>


  <div id="makejesusknown" class="container text-section">
    <h1 class="col-sm-12 text-center">Make Jesus Known</h1>
    <hr>
    <div class="col sub-sec">
      <div class="col-sm-4">
        <h2>Get connected</h2>
        <p>
          Are you new to Cornerstone? We’d love to help you get connected. Find out more about our midweek meetings, Sunday Services & newcomer evenings.
        </p>
        <a href="/new">more</a>
      </div>
      <div class="col-sm-4">
        <h2>Serve</h2>
        <p>
          Do you want to serve at Cornerstone? There are numerous opportunities for anyone who wants to embrace our vision to further the kingdom of God.
        </p>
        <a href="/ministries">more</a>
      </div>
      <div class="col-sm-4">
        <h2>Stay connected</h2>
        <p>
          Want to stay connected with everything that Cornerstone is up too? Subscribe to our newsletter here and keep up to date with all thats happening.
        </p>
        <a href="">more</a>
      </div>
    </div>
  </div>


</div>
