<div>

  <div ng-controller="SliderController">
    <slider
      sliderone="['/modules/core/client/img/slider/welcome.jpg', '/modules/core/client/img/slider/welcome-text.png']"
      slidertwo="['/modules/core/client/img/slider/vision.jpg', '/modules/core/client/img/slider/vision-text.png']"
      sliderthree="['/modules/core/client/img/slider/hgbackground.png', '/modules/core/client/img/slider/hgtext.png']"></slider>

    <a href="" ng-click="sliderPrevious()"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
    <a href="" ng-click="sliderNext()"><span class="glyphicon glyphicon-circle-arrow-right"></span></a>
  </div>


  <div id="knowjesus" class="container">
    <h1 class="col-md-offset-5">Know Jesus</h1>
    <hr>
    <div class="col sub-sec">
      <div class="col-sm-4">
        <h2>Who is Jesus?</h2>
        <p>
          Jesus was the most inﬂuential person who has ever lived… At Cornerstone we dont only want to be famous for
          being all about Jesus but we also want him to be famous in our City.
        </p>
        <a href="">more</a>
      </div>
      <div class="col-sm-4">
        <h2>Location</h2>
        <p>
          Join us each Sunday in Newcastle City Centre at <span class="bright">10h30</span>. Get directions and where
          to
          park by clicking on the button bellow.
        </p>
        <a href="">more</a>
      </div>
      <div class="col-sm-4">
        <h2>Sermons</h2>
        <p>
          Find out more about our current sermon series or listen to past sermons.
        </p>
        <a href="">more</a>
      </div>
    </div>
  </div>

  <div class="break"></div>


  <div id="makejesusknown" class="container">
    <h1 class="col-md-offset-5">Make Jesus Known</h1>
    <hr>
    <div class="col sub-sec">
      <div class="col-sm-4">
        <h2>Who is Jesus?</h2>
        <p>
          Jesus was the most inﬂuential person who has ever lived… At Cornerstone we dont only want to be famous for
          being all about Jesus but we also want him to be famous in our City.
        </p>
        <a href="">more</a>
      </div>
      <div class="col-sm-4">
        <h2>Location</h2>
        <p>
          Join us each Sunday in Newcastle City Centre at <span class="bright">10h30</span>. Get directions and where
          to
          park by clicking on the button bellow.
        </p>
        <a href="">more</a>
      </div>
      <div class="col-sm-4">
        <h2>Sermons</h2>
        <p>
          Find out more about our current sermon series or listen to past sermons.
        </p>
        <a href="">more</a>
      </div>
    </div>
  </div>


</div>
