<section ng-controller="GcController">
  <h1 id="top" class="text-center page-title">Home Group</h1>


  <div class="imagetop"></div>
  <div id="knowjesus" class="container text-section text-center">
    <h2 class="col-xs-12">What are Home Groups?</h2>
    <hr>
    <p>
      At Cornerstone our home groups are called Gospel communities, they are all about knowing Jesus and making Him known. They are communities of people that are centred on knowing, believing and living out the implications of the gospel together as a family in the day-to-day and the extraordinary.
    </p>
    <p>
      They meet regularly in each other’s homes and we enjoy meals together, study the bible, disciple one another, look for opportunities to serve, bless and reach out to our broader neighbourhood with the gospel.
    </p>
      </div>
    </div>
  </div>


  <div class="break"></div>

  <div class="container text-section">
    <div class="row">
      <div class="text-center">
        <h2>Where are Home Groups?</h2>
      </div>
      <br>

      <div class="col-md-3 col-sm-4 col-xs-6 hover-click" ng-repeat="gc in gcs| filter:searchText">
        <a ng-click="selectGc(gc)" class="fade-hover" href="" data-toggle="modal" data-target="#myModal">
          <img-resp imageclass="'fade-hover'" imageurl="'/modules/core/client/img/gc/' + gc.thumbnail"></img-resp>
        </a>
        <a href="" ng-click="selectGc(gc)">{{gc.name}}</a><br>
        <p>
          <small>{{gc.leaders.leaderone.firstname}} and {{gc.leaders.leadertwo.firstname}}
            {{gc.leaders.leaderone.secondname}}
          </small>
        </p>
      </div>
    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{selectedGc.name}}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-3">
              <img src="/modules/core/client/img/gc/{{selectedGc.thumbnail}}" alt="gc pic"
                   style="width:100%;border-radius: 50px;">
            </div>
            <div class="col-xs-9">
              <h3>About</h3>
              <p>{{selectedGc.details}}</p>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="break"></div>


</section>
<section ng-include="'/modules/core/client/ng/ng-include/footer.html'"></section>
