<div ng-controller="AboutController">
  <h1 class="text-center page-title">Kids and Youth</h1>
  <div id="top" class="imagetop"></div>


  <div class="container text-section">
    <h1 class="col-xs-12 text-center" style="padding-bottom:25px;">Children at Cornerstone</h1>
    <hr>
    <div class="col sub-sec">
      <div class="col-sm-12 text-center">
        <p>
          Children are such a valuable part of Cornerstone Church Newcastle, we love having families as part of our
          community. We have facilities for your children no matter their age! Ensuring the safety and wellbeing of the
          kids within Cornerstone Church is amongst our highest priorities.
          <!--for a copy of our safe guarding policy click here.-->
        </p>
      </div>
    </div>
  </div>
  <div class="break"></div>

  <div class="text-section">
    <div class="container text-center">
      <div class="col sub-sec">
        <div class="col-sm-12">
          <h2>Babies</h2>
          <p>
            We have a parent’s room where parents can look after their young children aged between 0 and 18 months and still listen to the sermon via
            a live audio feed. This room is stocked with tea and coffee and some toys for the little ones!
          </p>
        </div>
        <div class="col-sm-12">
          <h2>18 Months – 13 Years</h2>
          <p>
            We have a team of trained kids work volunteers to look after children, over 18 months, throughout the
            service. Each week the children follow an engaging, gospel centred programme. They are encouraged to have
            fun and be creative all whilst learning more of who Jesus. All you have to do is sign them in at the “Check
            in” area and sign them back out at 12pm, the kids work team will do the rest!</p>
        </div>
        <div class="col-sm-12">
          <h2>Youth</h2>
          <p>
            We have recently begun working with a group of young people just outside the city centre in Hebburn. We
            provide a youth club on a Friday night from 7pm, this has been a wonderful opportunity to engage with the
            community in Hebburn and introduce people to Jesus! To find out more or get involved chat to the church
            pastors.
          </p>
        </div>
      </div>
    </div>
  </div>
  <section ng-include="'/modules/core/client/ng/ng-include/footer.html'"></section>
</div>
