<div class="{{header}} subnav hidden-xs" header>
  <ul>
    <li>
      <a href="/ministries"> Ministries</a>
    </li>
    <li>
      <a href="/gc"> GC's</a>
    </li>
    <li>
      <a href="/leaders"> Leaders</a>
    </li>
    <li>
      <a href="/about"> About</a>
    </li>
  </ul>
</div>


<section ng-controller="MinController">

  <div class="imagetop"></div>

  <section class="text-center">
    <h1>Ministries</h1>
  </section>

  <div class="container">
    <div class="alert alert-info" role="alert">Ministries page will be coming soon! We apologise for the inconvenience...</div>
  </div>


  <!--<div class="container">-->
  <!--<div class="row">-->
  <!--<div class="col-sm-3 hidden-xs">-->

  <!--<h4>Ministries</h4>-->
        <!--<div class="form-group">-->
        <!--<input type="text" class="form-control input-sm" placeholder="Search Book"-->
        <!--ng-model="$parent.searchText" ui-clear>-->
        <!--</div>-->
        <!--<ul class="nav nav-pills nav-stacked gallery-filter-items">-->
          <!--<li ng-class="{'active': $parent.searchText == ''}">-->
            <!--<a href="" ng-click="filterSearch('')">-->
              <!--All-->
              <!--<span class="badge pull-right">{{(leaders| filter:'').length}}</span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li ng-repeat="item in filterSections"-->
              <!--ng-class="{'active': item == $parent.searchText}">-->
            <!--<a href="" ng-click="filterSearch(item)">-->
              <!--{{item}}-->
              <!--<span class="badge pull-right">{{(leaders| filter:item).length}}</span>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->


      <!--<div class="col-sm-9">-->
        <!--<div class="row">-->
          <!--<div class="col-md-4 col-sm-6 hover-click" ng-repeat="ministry in ministries| filter:searchText">-->
            <!--<a ng-click="selectMin(ministry)" class="fade-hover" href="" data-toggle="modal" data-target="#myModal">-->
              <!--<img-resp imageclass="'fade-hover'" imageurl="'/modules/core/client/img/people/' + ministry.pic"></img-resp>-->
            <!--</a>-->
            <!--<a href="" ng-click="selectMin(ministry)">{{ministry.name}}</a> <br>-->
            <!--<br>-->
            <!--<br>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

  <!-- Modal -->
  <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
    <!--<div class="modal-dialog" role="document">-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
            <!--aria-hidden="true">&times;</span></button>-->
          <!--<h4 class="modal-title" id="myModalLabel">{{selectedMin.name}}</h4>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
          <!--<div class="row">-->
            <!--<div class="col-xs-3">-->
              <!--<img src="/modules/core/client/img/people/{{selectedMin.pic}}" alt="person pic"-->
                   <!--style="width:100%;border-radius: 50px;">-->
            <!--</div>-->
            <!--<div class="col-xs-9">-->
              <!--<h3>About</h3>-->
              <!--<p>{{selectedMin.details}}</p>-->
              <!--<h3>Vision</h3>-->
              <!--<p>{{selectedMin.vision}}</p>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
        <!--<div class="modal-footer">-->
          <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="break"></div>


</section>
