<div ng-controller="AboutController">
  <h1 class="text-center page-title">Students</h1>
  <div id="top" class="imagetop"></div>


  <div class="container text-section">
    <h1 class="col-xs-12 text-center" style="padding-bottom:25px;">Students at Cornerstone</h1>
    <hr>
    <div class="col sub-sec">
      <div class="col-sm-12 text-center">
        <p>
          We love having so many students at Cornerstone Church. Whether they are at degree-level or at college, we love
          the diversity they bring to our church and the various skills that they have to offer. We have a team within
          our church that head-up our student ministry, which aims to bring students together and help them to grow in
          their faith through discipleship and serving opportunities.
        </p>
        <p>
          We also enjoy going for lunch together after the Sunday service so that we can hang out and get to know each
          other more. Although, these times are not exclusively for students, as we love to be a church that isn’t split
          into students and non-students, so we often have other church members join us!
        </p>
        <p>
          We also have a great relationship with the Christian Unions at both Newcastle and Northumbria University.
        </p>
      </div>
    </div>
  </div>
</div>

<section ng-include="'/modules/core/client/ng/ng-include/footer.html'"></section>
