<style>
  .angular-google-map-container {
    height: 400px;
  }
</style>

<!--Contact Section-->
<section ng-controller="ContactController">
  <h1 id="top" class="text-center page-title">Contact</h1>
  <div class="imagetop"></div>

  <div class="container" style="padding-bottom: 25px">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Details</h1>
      </div>

      <div class="col-sm-4">
        <h2>Info</h2>
        <hr>
        <p>10:30 Sunday Morning</p>
        <p>1st Floor, Bamburgh House</p>
        <p>Newcastle upon Tyne, NE1 6BH</p>


      </div>
      <div class="col-sm-4">
        <h2>Get in touch</h2>
        <hr>
        <p>We would love to here from you!</p>
        <p>Email: info@ccncl.co.uk </p>


      </div>
      <div class="col-sm-4">
        <h2>Giving</h2>
        <hr>
        <p>Cornerstone Church Newcastle</p>
        <p>Account Number:239 48641</p>
        <p>Sort Code: 40-34-18</p>

      </div>


    </div>
  </div>


  <div>
    <!--Map Section-->
    <div>
      <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable='true' options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events"
                        idkey="marker.id"></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>

  <div class="break"></div>
  <div style="padding-bottom: 10px">
    <div class="container">
      <h2 id="calender" class="text-center">Church Calender</h2>
      <iframe frameborder="0" height="700" scrolling="no" src="https://ccncl.churchapp.co.uk/embed/calendar"
              style="border-width:0" width="100%"></iframe>
    </div>
  </div>
</section>
<section ng-include="'/modules/core/client/ng/ng-include/footer.html'"></section>
