<section ng-controller="ResourcesController" ng-init="init()">
  <h1 class="text-center page-title">Media</h1>
  <div class="imagetop"></div>


  <section class="text-center">
    <h1>Sermon Series <a ng-if="authentication.user.firstName" href="/sermonseries/edit"><span
      class="fa fa-pencil-square-o"></span></a></h1>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 hover-click" ng-repeat="series in sermonseries| filter:searchText">
        <a class="fade-hover" href="/sermonseries/{{series._id}}" ng-click="updateSeries(series)">
          <img-resp imageclass="'fade-hover'" imageurl="'/modules/resources/client/img/' + series.thumbnail"></img-resp>
        </a>
        <a href="/sermonseries/{{series._id}}" ng-click="updateSereis(series)">{{series.title}}</a> <br>
        <small class="text-muted" ng-repeat="book in series.book">
          {{book}}
        </small>
        <br>
        <br>
      </div>
    </div>

  </div>


</section>
