.sermon-main {
  margin-bottom: 20px; }

.sermon {
  padding-top: 5px;
  padding-bottom: 5px; }

.sermon-tile {
  border-left: 5px solid grey;
  margin-top: 5px;
  margin-bottom: 5px; }

.sermon-tile p{
  font-size: 15px;
}

.sermon-title {
  color: grey; }

