.break {
  height: 200px;
  width: 100%;
  background: url("/modules/core/client/img/break.jpg") no-repeat center scroll;
  background-color: black;
  background-attachment: fixed;
  background-size: cover;}

.text-section {
  padding-top: 30px;
  padding-bottom: 60px;}

.col-xs-view {
  display: none; }

.page-title{
  padding-top: 140px;
  padding-bottom: 20px;
  margin: 0;
  background: #595959;
  color: #f2f2f2;
}

p{
  font-size: 18px;
}

#footer {
  background: #595959;
  color: #f2f2f2; }

@media screen and (max-width: 768px) {
  .break {
    height: 100px; }
  .col-xs-view {
    display: block; } }
