.break {
  height: 200px;
  width: 100%;
  background: url("/modules/core/client/img/slider/welcome.jpg") no-repeat center scroll;
  background-color: black;
  background-attachment: fixed;
  background-size: cover; }

#footer {
  background: #595959;
  color: #f2f2f2; }

@media screen and (max-width: 768px) {
  .break {
    height: 100px; } }
