.slider-btn {
  position: absolute;
  top: 0;
  border: none;
  background: none;
  width: 80px;
  height: 100vh;
  outline: 0;
  z-index: 1;
  -webkit-transition: 0.5s;
  /* Safari */
  transition: 0.5s; }

.slider-next {
  right: 0; }

.slider-btn:hover {
  background: #595959;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  /* Safari */
  transition: 0.5s; }

.slider-btn:hover .slider-icon {
  color: white;
  -webkit-transition: 0.5s;
  /* Safari */
  transition: 0.5s; }

.fullSlider {
  overflow: hidden;
  width: 100%;
  height: 100vh; }

.sliderTextIn {
  position: absolute;
  z-index: 1;
  height: 50vh;
  margin-top: 20vh;
  opacity: 1;
  -webkit-animation: in 1s;
  animation: in 1s; }

/* Chrome, Safari, Opera */
@-webkit-keyframes in {
  0% {
    opacity: 0;
    margin-top: 10vh; }
  100% {
    opacity: 1;
    margin-top: 20vh; } }

@keyframes in {
  0% {
    opacity: 0;
    margin-top: 10vh; }
  100% {
    opacity: 1;
    margin-top: 20vh; } }

.fullsliderPicIn {
  position: relative;
  left: 0;
  -webkit-animation: picIn 1s;
  animation: picIn 1s; }

/* Chrome, Safari, Opera */
@-webkit-keyframes picIn {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

@keyframes picIn {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

.fullSliderPicOut {
  position: relative;
  left: 100%;
  -webkit-animation: picOut 1s;
  animation: picOut 1s; }

/* Chrome, Safari, Opera */
@-webkit-keyframes picOut {
  0% {
    left: 0; }
  100% {
    left: 100%; } }

@keyframes picOut {
  0% {
    left: 0; }
  100% {
    left: 100%; } }

.sliderTextOut {
  position: absolute;
  z-index: 1;
  height: 50vh;
  margin-top: 40vh;
  opacity: 0;
  -webkit-animation: textOut 1s;
  animation: textOut 1s; }

/* Chrome, Safari, Opera */
@-webkit-keyframes textOut {
  0% {
    opacity: 1;
    margin-top: 20vh; }
  100% {
    opacity: 0;
    margin-top: 40vh; } }

@keyframes textOut {
  0% {
    opacity: 1;
    margin-top: 20vh; }
  100% {
    opacity: 0;
    margin-top: 40vh; } }
